{{product.name}}<br>
{{product.cost}}<br>
<img src={{product.image}} alt="" /><br>
{{product.color}}<br>
{{product.category}}<br>
{{product.size}}<br>
<button {{action 'delete' product}}>Delete</button>
<hr>
